/* #FEEAE9 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tania-side .carousel-item{
background-color: #FEEAE9;
border-radius: 1.5em;
}
.tania-card{
  border: none;
  border-radius: 20px;;
}
.tania-card-footer{
  border: none;
  background-color: #fff;
}
.categories img{
  width: 100px;
}
.btn-color{
  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  border-radius: 5px;;
}
